.gridButton {
    height: 30px;
    width: 30px;
    background-color: pink;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

.lit {
    background-color: darkslategrey;
}

#puzzle {
    font-size: 0px;
}

#resetButton {
    height: 30px;
    width: auto;
    background-color: darkslategray;
    color: white;
}
